/*@import 'https://fonts.googleapis.com/css?family=Dosis:300,400';*/

html, body{
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

body{
  background-color: #a041ff;
}

header{
  text-align: center;
  background-color: #8000ff;
  color: white;
  position: relative;
  top: 0;
  margin: 0;
}

header h1{
  margin: 0;
}

h1{
  font-weight: 300;
}

.main{
  margin: 20px auto;
  text-align: center;
}

.nickname{
  padding: 10px;
  font: 18px 'Segoe UI';
  width: 20%;
  transition: box-shadow .4s ease;
  border: none;
}

.nickname:focus{
  box-shadow: 0 0 10px #333;
}

.ready{
  border: none;
  background: #C6FF00;
  font: 18px 'Segoe UI';
  padding: 10px;
  position: absolute;
  line-height: 24px;
}


.nickname, .ready{
  outline: none;
}

#map {
    /* border: 5px solid #000; */
    /* background-image: url('images/map.png'); */
    /*transform: translateY(-201px) translateX(1000px) rotateZ(45deg);
    transform-origin: 0 0;
    overflow: hidden;*/
    opacity: 0;
    transition: opacity 1s ease;
}
